@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add styles if needed */

.bg-gray-900 {
  background-color: #1a1a1a;
}

.text-white {
  color: #ffffff;
}


/* Define the glitter animation */
@keyframes glitter {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

/* Apply glitter effect to the button */
.glitter-button {
  background: linear-gradient(45deg, #f3c5c5, #f5e1e1, #e4d4f5, #f2f5c7);
  background-size: 400% 400%;
  animation: glitter 2s ease infinite;
  position: relative;
  overflow: hidden;
  color: hwb(0 0% 0%);
  font-weight: bold;
  text-transform: uppercase;
}

.glitter-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 10%, transparent 40%);
  animation: glitter 1.5s linear infinite;
  mix-blend-mode: screen;
  pointer-events: none;
}

.glitter-button:hover {
  background: linear-gradient(45deg, #f5a1a1, #f5e1e1, #d2b4fc, #f1f5a6);
  background-size: 400% 400%;
  animation: glitter 2s ease infinite;
  transform: scale(1.05);
}



/* Additional custom styles */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.animate-slideInDown {
  animation: slideInDown 1s ease-out;
}

.animate-slideInUp {
  animation: slideInUp 1s ease-out;
}